@section Css{
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Admin List";
}

<div id="adminlist" class="admin-list">
    <div>
        @*<h1 class="h3 mb-2 text-gray-800">Admin List</h1>*@
        <div class="card shadow mb-4">
            <div class="card-header py-3" style="display: flex;justify-content:space-between;align-items:center">
                <h6 class="m-0 font-weight-bold text-primary" style="display: inline-flex;">Admin List</h6>
                <div style="display: inline-flex;">
                    <input type="text" class="form-control" placeholder="Search" v-model="keyword">
                    <button class="btn btn-primary" v-on:click="getList">Search</button>
                </div>
                <div style="display: inline-flex;">
                    <button class="btn btn-info" v-on:click="openDetail(0)">Create</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th v-for="(item,val) in tableData.columnsList">{{item.title}}</th>
                            </tr>
                        </thead>
                        <tbody v-for="(c,index) in tableData.data">
                            <tr style="vertical-align:middle">
                                <td>{{c.UserId}}</td>
                                <td>{{c.UserName}}</td>
                                <td>{{c.CreateTimeLocal}}</td>
                                <td>{{c.UpdateTimeLocal}}</td>
                                <td>{{c.Phone}}</td>
                                <td>{{c.Email}}</td>
                                <td>{{c.Description}}</td>
                                <td>{{enum_role[c.Role]}}</td>
                                <td><button class="btn btn-info" v-on:click="openDetail(c)">Open</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" id="adminDetail">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" v-model="detailModel.mode"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">UserId</label>
                            <div class="col-sm-8 txt-inline">
                                <input type="text" class="form-control" disabled v-model="detailModel.user.UserId" placeholder="UserId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">UserName</label>
                            <div class="col-sm-8 txt-inline">
                                <input type="text" class="form-control" v-model="detailModel.user.UserName" placeholder="UserName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-8 txt-inline">
                                <input type="text" class="form-control" v-model="detailModel.user.Password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Phone</label>
                            <div class="col-sm-8 txt-inline">
                                <input type="text" class="form-control" v-model="detailModel.user.Phone" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-8 txt-inline">
                                <input type="email" class="form-control" v-model="detailModel.user.Email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-8 txt-inline">
                                <input type="text" class="form-control" v-model="detailModel.user.Description" placeholder="Description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Role</label>
                            <div class="col-sm-8 txt-inline">
                                <Select class="selectpicker" v-model="detailModel.user.Role">
                                    <Option v-for="item in roleType"
                                            :value="item.value"
                                            :key="item.value">
                                        {{ item.label }}
                                    </Option>
                                </Select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" v-on:click="saveUser">Submit</button>
                </div>
            </div>
        </div>
    </div>


</div>

@section Js{
    @*<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>*@
    <script src="~/Scripts/alert.js"></script>
    <script src="~/Scripts/adminlist.js"></script>
}


